[Unit]
Description=Misc setup
After=local-fs.target
Before=user@.service

[Service]
Type=simple
ExecStart=/bin/sh /usr/bin/droid/droid-misc.sh
RemainAfterExit=yes

[Install]
WantedBy=graphical.target
