[Unit]
Description=Script to run after droid-hal-init
After=droid-hal-init.service
After=wait_for_keymaster.service
Before=sensorfwd.service

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 3
ExecStart=/usr/bin/droid/post-droid-hal-init.sh

[Install]
WantedBy=graphical.target
