[Unit]
Description=Setup home image
DefaultDependencies=no

[Service]
Type=simple
ExecStart=/usr/bin/droid/setup-home.sh
RemainAfterExit=yes

[Install]
WantedBy=local-fs.target
